/* APOLOGIES */
@font-face {
  font-family: "BlobFont";
  src: url("./font/Bubble.ttf") format("truetype");
}

/* QUICK AND DIRTY RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  font-family: "BlobFont";
  font-weight: normal !important;
}

:root {
  --col_a: #26bb3a;
  --col_b: #446953;
  --col_dark: #092413;
  --col_bg: #f3f3f3;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  width: 50%;
  margin-inline: auto;
  padding: 30px;
  background-color: var(--col_dark);
  color: var(--col_b);
  text-align: center;
}

a:hover {
  color: var(--col_bg);   
}

a,
a:active,
a:visited {
  color: var(--col_a);
}

h1 {
  margin-bottom: 20px;
}

#post_wrap {
  padding: 40px;
}

button {
  padding: 10px 20px;
  border: none;
  background-color: var(--col_b);
  color: var(--col_bg);
  cursor: pointer;
  margin: 5px;
  border-radius: 5px;
  width: 100%;
  max-width: 600px;
}

button:hover {
  background-color: var(--col_a);
}

input,
textarea {
  width: 100%;
  max-width: 600px;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid var(--col_c);
  border-radius: 5px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: var(--col_b);
  margin: 10px auto;
  padding: 10px;
  border-radius: 5px;
  max-width: 600px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 10px auto;
  border-radius: 5px;
}

hr {
  margin-inline: auto;
  max-width: 600px;
}

/* RESPOND TO SCREEN SIZE CHANGE */
@media (max-width: 384px) {
  body {
    padding: 10px;
    margin: 0px;
    width: 100%;
  }
  button {
    width: 100%;
    padding: 40px 50px;
  }
  #post_wrap {
    padding: 10px;
  }
}

@media (max-width: 768px) {
  body {
    padding: 20px;
    margin: 0px;
    width: 100%;
  }
  button {
    width: 100%;
    padding: 20px 30px;
  }
  #post_wrap {
    padding: 20px;
  }
}

#important_note {
  border: 8px solid slategray;
  background-color: darkslateblue;
  color:lightgray;
  margin-inline: auto;
  width: 100%;
  max-width: 600px;
  padding: 30px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
